<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\logs\Qed\Qed.Webhook.RedisCache.Api-log.txt">
  <extensions>
    <add assembly="Zyborg.NLog.Targets.Logentries"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="fileTarget" fileName="C:\logs\Qed\Qed.Webhook.RedisCache.Api-${shortdate}.log"
            maxArchiveFiles="10"
            archiveAboveSize="10240"
            layout="${longdate} ${machinename} ${level} ${message}" />

    <target xsi:type="Logentries" name="logentries" token="5488a5f5-229f-4212-9c13-d397ceb1366d"
            layout="${longdate} ${machinename} ${level} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    <logger name="*" minlevel="Debug" writeTo="logentries" />
  </rules>
</nlog>
